@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Whole body */
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* typewriter */
.Typewriter {
  display: inline;
}


/* Fonts */
.lilita-font {
  font-family: "Lilita One", 'Arial Narrow Bold';
}

.alkatra-font {
  font-family: "Alkatra",'Arial Narrow Bold';
}

/* REMOVE THE BLUE HIGHLIGHT BOX ON TOUCH */
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:focus {
  outline: none !important;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #A855f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b40d2;
}
